:root{
  --bg-green: #1abc9c;
  --bg-dark: #2c3e50;
  --bg-ldark: #3a546d;
  --cl-black: #333333;
  --bg-sgreen: #13866f;
  --bg-plus: #1abc9c87;

}

/*utility*/

.debug{
  height: 80px;
  border: 1px solid black;
}

.pc-border{
  border: 0;
}

.cust-container{
  width: 60%;
  margin: 0 auto;
  height: 400px;
}

/*GENERAL*/

body {
  font-family: 'Helvetica Neue', sans-serif;
}


/*header*/

.pc-bg-head{
  background-color: var(--bg-dark) !important;
}


/*HERO*/

.hero-bg{
  background-color: var(--bg-green);
}

.hero h1{
  font-size: 2.3rem;
}

.text-hero{
  font-size: 1.1rem;
}

.devil-hr{
  height: 3px;
  background-color: currentColor;
  width: 15%;
}

.devil-star{
  font-size: 1.5rem;
}

.hero img{
  width: 240px;
}
 /*portfolio*/

 .portfolio{
  color: var(--bg-dark);
 }

 .portfolio h3{
  color: var(--cl-black);
 }

 .plus-green{
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-plus);
 }

 .fa-plus{
  font-size: 10rem;
 }

 .pc-card:hover .plus-green{
  display: flex !important;
  
 }

 /*ABOUT*/

 .bg-about{
  background-color: var(--bg-green);
 }

 

 /*contact*/

 .contact-me{
  color: var(--bg-dark);
 }

 .contact-me h3{
  color: var(--cl-black);
 }

.pc-form input,
.pc-form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.pc-form input:focus,
.pc-form textarea:focus {
  box-shadow: none;
}

.pc-button {
  background-color: var(--bg-green);
  border: none;
}

.pc-button:hover {
  background-color: var(--bg-sgreen);
}

/*TOP FOOTER*/

.top-footer{
  background-color: var(--bg-ldark);
}

.top-footer .ghost a{
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}
.top-footer .whitch a{
  color: var(--bg-green);
}

/*BOT FOOTER*/

.bot-footer{
  background-color: var(--bg-dark);
}




